# Dependencias
node_modules/

# Archivos de compilación
dist/
tmp/
out-tsc/

# Entorno y logs
.env
*.log
npm-debug.log*

# Archivos de editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del sistema
.DS_Store
Thumbs.db.angular/
